
{# templates/task/new.html.twig #}

{% extends 'base.html.twig' %}

{% block nav %}

<li class="">
						<a href="index.html" aria-expanded="false"><i class="fa fa-th-large"></i> <span class="nav-label">Gestion des agences</span> <span class="fa arrow"></span></a>
						<ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
								<li><a href="index.html">Liste des agences</a></li>
								<li><a href="dashboard_2.html">Liste des agences bloquées</a></li>
								<li><a href="{{ path('add_agence') }}">Ajouter une agence</a></li>
						</ul>
				</li>
				<li class="">
						<a href="index.html" aria-expanded="false"><i class="fa fa-th-large"></i> <span class="nav-label">Gestion des pilotes</span> <span class="fa arrow"></span></a>
						<ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
								<li><a href="index.html">Liste des pilotes</a></li>
								<li><a href="dashboard_2.html">Liste des pilotes bloquées</a></li>
								<li><a href="dashboard_3.html">Ajouter une pilote</a></li>
		<li><a href="dashboard_3.html">Mise à jour des pilotes</a></li>
						</ul>
				</li>
<li class="">
						<a href="index.html" aria-expanded="false"><i class="fa fa-th-large"></i> <span class="nav-label">Gestion des direction</span> <span class="fa arrow"></span></a>
						<ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
								<li><a href="index.html">Liste des directions</a></li>
								<li><a href="{{ path('add_direction') }}">Ajouter une direction</a></li>
						</ul>
				</li>
								<li class="">
						<a href="index.html" aria-expanded="false"><i class="fa fa-th-large"></i> <span class="nav-label">Gestion des utilisateurs</span> <span class="fa arrow"></span></a>
						<ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
								<li><a href="index.html">Liste des utilisateurs</a></li>
								<li><a href="dashboard_2.html">Liste des utilisateurs sans profil</a></li>
								<li><a href="{{ path('fos_user_registration_register') }}">Ajouter une utilisateur</a></li>
						</ul>
				</li>
<li class="">
						<a href="index.html" aria-expanded="false"><i class="fa fa-th-large"></i> <span class="nav-label">Gestion des profils</span> <span class="fa arrow"></span></a>
						<ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
								<li><a href="index.html">Liste des profils</a></li>
								<li><a href="{{ path('add_profil_parent') }}">Ajouter un nouveau profil chef</a></li>
								<li><a href="{{ path('add_profil_children') }}">Ajouter un nouveau profil agent</a></li>
						</ul>
				</li>
<li>
						<a href="layouts.html" aria-expanded="false"><i class="fa fa-sitemap"></i> <span class="nav-label">Extraction des données brutes</span></a>
				</li>
<li>
						<a href="layouts.html" aria-expanded="false"><i class="fa fa-sitemap"></i> <span class="nav-label">Extraction en HNO</span></a>
				</li>
				<li>
						<a href="layouts.html" aria-expanded="false"><i class="fa fa-sitemap"></i> <span class="nav-label">Teléchargements résultat HNO</span></a>
				</li>
{% endblock %}

{% block content %}

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}



{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>

    function ajaxLoad(agentSelector){
    if( agentSelector.val() !=  null) {
      $.ajax({
          url: "{{ path('list_agent') }}",
          type: "GET",
          dataType: "JSON",
          data: {
              profilParentid: agentSelector.val()
          },
          success: function (agents) {
              var profilagencesSelect = $("#profil_agences");

              // Remove current options
              profilagencesSelect.html('');
              $.each(agents, function (key, agent) {

                  profilagencesSelect.append('<div class="form-check"><input type="checkbox" id="profil_agences_' + agent.id + '" name="profil[agences][]" class="form-check-input" value="' + agent.id + '">'
  +'<label class="form-check-label" for="profil_agences_' + agent.id + '">' + agent.agence_lib + '</label></div>');
              });
          },
          error: function (err) {
              alert("An error ocurred while loading data ...");
          }
    });
    }


    }
    $( document ).ready(function() {
    var agentSelector = $('#profil_profilParent');
    ajaxLoad(agentSelector);
    $('#profil_profilParent').change(function () {
        var agentSelector = $(this);
        ajaxLoad(agentSelector);
    });
});

    </script>
{% endblock %}
