{% trans_default_domain 'FOSUserBundle' %}

{% extends 'base.html.twig' %}

{% block content %}


{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

{{ form_row(form.email) }}
{{ form_row(form.username) }}
{{ form_row(form.name) }}
{{ form_row(form.last_name) }}
{{ form_row(form.roles) }}
{{ form_row(form.role) }}
{{ form_row(form.profil) }}
{{ form_row(form.plainPassword) }}


 <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>

{{ form_end(form) }}
{% endblock %}
